CASO 3: #Eventos en el mundo

In [1]:
import pandas as pd
import numpy as np
from librerias.ConexionBDD import ConexionMySQL
import sqlite3
import os

In [2]:
El_triatlon_Ironman = pd.read_csv("C:\\Users\\USER\\Documents\\GitHub\\Proyecto-final-AD\\Archivos\\Caso de estudio 3\\Ironman World Championship.csv", encoding='latin-1')
El_triatlon_Ironman #Muestra el registro

     Year  Place        Athlete Country      Time  Gender
0    2019      1    Jan Frodeno     GER   7:51:13    Male
1    2018      1  Patrick Lange     GER   7:52:39    Male
2    2017      1  Patrick Lange     GER   8:01:40    Male
3    2016      1    Jan Frodeno     GER   8:06:30    Male
4    2015      1    Jan Frodeno     GER   8:14:40    Male
..    ...    ...            ...     ...       ...     ...
247  1984      3    Julie Olson     USA  10:38:10  Female
248  1983      3    Eva Ueltzen     USA  11:01:49  Female
249  1982      3  Sally Edwards     USA  11:03:00  Female
250  1982      3     Lyn Brooks     USA  11:51:00  Female
251  1981      3     Lyn Brooks     USA  12:42:15  Female

[252 rows x 6 columns]

In [3]:
El_triatlon_Ironman.isnull().sum()

Year       0
Place      0
Athlete    0
Country    0
Time       0
Gender     0
dtype: int64

In [4]:
El_triatlon_Ironman.to_csv("El triatlón Ironman.csv")
print("Archivo  generado con éxito.")

Archivo  generado con éxito.

Guardar el DataFrame en una base de datos MySQL

In [5]:
# Guardar el DataFrame en una base de datos MySQL
conn = ConexionMySQL() # Instanciar la clase ConexionMySQL para obtener la conexión a BD
try:
    conectado = conn.Conexion(
        host="b7bg9l2v5kzw6mr8copl-mysql.services.clever-cloud.com", 
        user="ussbzqxxrbaktocd", 
        password="4jUZNEC8FPFOJasnBN7L", 
        db="b7bg9l2v5kzw6mr8copl"
    ) # Conectar a la base de datos
    if conectado:
        print("Conexión exitosa")
        creacion = conn.Crear_tabla(dataframe=El_triatlon_Ironman, nombre_tabla="El_triatlon_Ironman") # Crear la tabla en la base de datos
        if creacion==0:
            print("Tabla creada en la base de datos MySQL")
            insercion = conn.Insertar_desde_dataframe(nombre_tabla="El_triatlon_Ironman", dataframe=El_triatlon_Ironman) # Insertar los registros en la tabla
            if insercion>0:
                print("Datos insertados en la tabla", "Filas afectadas:", insercion)
            else:
                print("No se insertaron los registros")
        else:
            print("No se creo la tabla")
    else:
        print("Error en la conexión")
except Exception as e:
    print("Error al insertar los registros:", e)
finally:
    conn.Cerrar_conexion() # Cerrar la conexión a la base de datos

Conexión exitosa
Tabla creada en la base de datos MySQL
Datos insertados en la tabla Filas afectadas: 252