CASO 3: #Eventos en el mundo

In [1]:
import pandas as pd

In [14]:
s = pd.read_csv("C:\\Users\\USER\\Documents\\GitHub\\Proyecto-final-AD\\Archivos\\Caso de estudio 3\\Ironman World Championship.csv", encoding='latin-1')
s #Muestra el registro

     Year  Place        Athlete Country      Time  Gender
0    2019      1    Jan Frodeno     GER   7:51:13    Male
1    2018      1  Patrick Lange     GER   7:52:39    Male
2    2017      1  Patrick Lange     GER   8:01:40    Male
3    2016      1    Jan Frodeno     GER   8:06:30    Male
4    2015      1    Jan Frodeno     GER   8:14:40    Male
..    ...    ...            ...     ...       ...     ...
247  1984      3    Julie Olson     USA  10:38:10  Female
248  1983      3    Eva Ueltzen     USA  11:01:49  Female
249  1982      3  Sally Edwards     USA  11:03:00  Female
250  1982      3     Lyn Brooks     USA  11:51:00  Female
251  1981      3     Lyn Brooks     USA  12:42:15  Female

[252 rows x 6 columns]

In [15]:
s.isnull().sum()

Year       0
Place      0
Athlete    0
Country    0
Time       0
Gender     0
dtype: int64

In [17]:
s.to_csv("El triatlón Ironman.csv")
print("Archivo  generado con éxito.")

Archivo  generado con éxito.