In [1]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [2]:
# Ruta donde se guardaran los archivos tratados segun el caso de estudio
ruta_guardado_caso1 = os.getcwd()+"/Archivos/Base_de_datos/Caso estudio 1/"
ruta_guardado_caso2 = os.getcwd()+"/Archivos/Base_de_datos/Caso estudio 2/"
ruta_guardado_caso3 = os.getcwd()+"/Archivos/Base_de_datos/Caso estudio 3/"
ruta_guardado_caso4 = os.getcwd()+"/Archivos/Base_de_datos/Caso estudio 4/"
ruta_guardado_caso5 = os.getcwd()+"/Archivos/Base_de_datos/Caso estudio 5/"

# Rutas para leer los archivos descargados de una fuente de datos segun los casos de estudio
ruta_caso1 =os.getcwd()+"/Archivos/Caso de estudio 1/"
ruta_caso2 =os.getcwd()+"/Archivos/Caso de estudio 2/"
ruta_caso3 =os.getcwd()+"/Archivos/Caso de estudio 3/"
ruta_caso4 =os.getcwd()+"/Archivos/Caso de estudio 4/"
ruta_caso5 =os.getcwd()+"/Archivos/Caso de estudio 5/"

_Modificar los archivos_

_Caso 1_

In [15]:
# Cargar los datos del archivo para el caso 1
Datos = pd.read_csv(ruta_caso1+"social media influencers - Tiktok sep 2022.csv", delimiter=",", index_col="S.no")
Datos.isnull().sum()

Tiktoker name    0
Tiktok name      1
Subscribers      0
Views avg.       0
Likes avg.       0
Comments avg.    0
Shares avg.      0
dtype: int64

In [22]:
Datos.head(17)

,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
S.no,,,,,,,
1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K
6,onwardwanna,WannaðŸ¥Š,7.5M,12M,2M,20.4K,4.2K
7,therock,The Rock,55.4M,13.1M,1.5M,14.3K,11.9K
8,bizarrap,bzrp,5.8M,16.2M,2.7M,4.2K,6.9K
9,landonbarkerr,Landon Barker,3.8M,11.7M,1.2M,19.1K,15.2K
10,mrbeast,MrBeast,42.2M,13M,1.7M,17.2K,2.1K
11,charlidamelio,charli dâ€™amelio,146.2M,15.2M,959.4K,20.8K,4.6K
12,amauryguichon,Amaury Guichon,14.5M,11.4M,1.5M,7.2K,11.8K
13,jetbentlee,Jet,3.9M,12.4M,2.2M,3.6K,6.6K
14,kervo.dolo,Kervo.dolo,10.3M,5.7M,1.3M,7.9K,27.6K
15,ttdramanews,TT Drama Layla,856.3K,6.1M,1.1M,16.6K,17.7K
16,mishayoung,ÐœÐ¸ÑˆÐ° Ð“Ð¾Ñ€Ð¾Ð´ÐµÑ†ÐºÐ¸Ð¹ ðŸ‡ºðŸ‡¦,4M,10.8M,680K,5.7K,22.5K
17,domelipa,domelipa,58.1M,10.4M,1.5M,9.1K,3.5K

In [5]:
Datos.shape

(1000, 7)

In [16]:
# Rellenar valores nulos
Nombres = Datos["Tiktok name"]
Datos_no_nulos = Datos["Tiktok name"].dropna().to_list()
for clave, valor in Nombres.items():
    if pd.isna(valor):
        indice = np.random.randint(0, len(Datos_no_nulos))
        Datos.at[clave, "Tiktok name"] = Datos_no_nulos[indice]
Datos.isnull().sum()

Tiktoker name    0
Tiktok name      0
Subscribers      0
Views avg.       0
Likes avg.       0
Comments avg.    0
Shares avg.      0
dtype: int64

In [12]:
# Guardar la informacion en un archivo CSV
Datos.to_csv(ruta_guardado_caso1+"Set_Datos.csv",index=False, encoding="utf-8")

In [13]:
# Guardar la informacion a una base de datos SQLite
conn = sqlite3.connect(ruta_guardado_caso1+"Social_Media_Tiktok.db")
cursor = conn.cursor()
Datos.to_sql(name="smi_tiktok", con=conn, if_exists="replace")
conn.commit()
conn.close()

_Caso 4_

In [3]:
DatosC19=pd.read_csv(ruta_caso4+"COVID-19_Cases__Deaths__and_Tests_by_Day_-_Archived_20240301.csv", sep=",")
DatosC19

,Date,Confirmed Cases,Probable Cases,Total Cases,Total Deaths,Total Tests,Date Updated
0,02/21/2020,0,0,0,0,8,06/01/2023
1,02/22/2020,0,0,0,0,1,06/01/2023
2,02/25/2020,0,0,0,0,1,06/01/2023
3,02/26/2020,0,0,0,0,3,06/01/2023
4,02/28/2020,0,0,0,0,3,06/01/2023
...,...,...,...,...,...,...,...
1188,05/27/2023,20,12,32,0,427,06/01/2023
1189,05/28/2023,24,15,39,0,398,06/01/2023
1190,05/29/2023,18,18,36,0,388,06/01/2023
1191,05/30/2023,31,21,52,0,463,06/01/2023
1192,05/31/2023,9,0,9,0,209,06/01/2023

In [8]:
DatosC19_2=pd.read_csv(ruta_caso4+"COVID-19_County_Level_Data_-_Archive_20240301.csv", sep=",")
DatosC19_2.isnull().sum()

report_date                      0
county                           0
county_population              348
cumulative_cases                 0
cumulative_tests_reportable      0
cumulative_deaths                0
cases_7days                      0
tests_reportable_7days           0
positive_naat_7days              0
tests_naat_7days                 0
naat_positivity_7days          153
cumulative_positive_naat         0
cumulative_tests_naat            0
positive_ag_7days                0
census_today                   348
fullyvax_today                 348
partialvax_today               348
nonvax_today                   348
adddose_today                  348
census_7days_ago               348
census_change                  348
census_not_fully_vax           348
census_pct_not_fully_vax       539
case_rate_weekly               348
fips                           348
data_updated                     0
dtype: int64