CASO 3: Conciertos a nivel mundial

In [2]:
import pandas as pd
import re
import numpy as np
from librerias.ConexionBDD import ConexionMySQL
import sqlite3
import os

In [10]:
Conciertos_a_nivel_mundial = pd.read_csv(os.getcwd()+"\\Archivos\\Base_de_datos\\Caso estudio 3\\Conciertos_a_nivel_mundial.csv", encoding='latin-1',  delimiter=';')
Conciertos_a_nivel_mundial #Muestra el registro

,Puesto,Año(s),Recaudación (en USD),Inflación (para 2024),Artista,Gira,Número de conciertos,Asistencia,Recaudación promedio,Ref.
0,1,2023-2024,$ 1 039 263 762,$1 039 263 762,Taylor Swift,The Eras Tour,60,4 300 000,"17,3",[A]?
1,2,2018-2023,$939 126 765,$939 100 000,Elton John,Farewell: Yellow Brick Tour,330,5 300 000,"2,85",[4]?[5]?
2,3,2022-2024,$810 968 681,$810 968 681,Coldplay,Music of the Spheres World Tour,132,7 667 672,"6,14",[6]?
3,4,2017-2019,$776 200 000,$888 442 379,Ed Sheeran,÷ Tour,255,8 150 684,"3,0",[7]?[8]?
4,5,2009-2011,$736 421 584,$887 000 000,U2,U2 360° Tour,110,7 272 046,"6,7",[9]?
5,6,2021-2023,$617 300 000,$617 800 000,Harry Styles,Love On Tour,165,4 738 922,"3,58",[10]?
6,7,2016-2019,$584 200 000,$668 678 225,Guns N' Roses,Not in This Lifetime... Tour,174,4 377 126,"3,85",[11]?[12]?[13]?
7,8,2023,$579 813 546,$579 813 546,Beyoncé,Renaissance World Tour,56,2 776 855,"10,35",[14]?
8,9,2005-2007,$558 255 524,$787 883 017,The Rolling Stones,A Bigger Bang Tour,147,4 680 000,"3,8",[15]?
9,10,2017-2021,$546 515 799,$590 190 470,The Rolling Stones,No Filter Tour,58,2 867 799,"9,24",[15]?
10,11,2016-2017,$523 033 675,$624 430 917,Coldplay,A Head Full of Dreams Tour,123,5 389 586,"4,59",[16]?
11,12,2010-2013,$458 673 798,$576 635 143,Roger Waters,The Wall Live,219,4 129 863,"2,09",[17]?
12,13,2014-2024,$454 900 000,$454 900 000,Billy Joel,Billy Joel in Concert,168,No disponible,No disponible,[18]?
13,14,2008-2010,$441 121 000,$593 021 303,AC/DC,Black Ice World Tour,167,4 846 965,"2,6",[19]?
14,15,2016-2019,$433 838 725,$492 180 138,Metallica,WorldWired Tour,143,4 198 613,"3,0",[20]?
15,16,2008-2009,$407 713 266,$560 622 615,Madonna,Sticky & Sweet Tour,85,3 545 899,"4,79",[21]?
16,17,2018-2019,$397 300 000,$454 751 555,Pink,Beautiful Trauma World Tour,156,3 088 647,"2,55",[22]?
17,18,2017-2019,$390 778 581,$466 536 362,U2,"The Joshua Tree Tour 2017, 2019",66,3 279 712,"5,92",[23]?
18,19,2005-2006,$389 047 636,$564 685 705,U2,Vertigo Tour,131,4 619 021,"2,96",[15]?
19,20,2022-2024,$379 496 085,$379 496 085,Bruce Springsteen\r\nE Street Band,2023 Tour,66,No disponible,"5,75",[1]?

In [5]:
Conciertos_a_nivel_mundial.isnull().sum()

Puesto                   0
Año(s)                   0
Recaudación (en USD)     0
Inflación (para 2024)    0
Artista                  0
Gira                     0
Número de conciertos     0
Asistencia               0
Recaudación promedio     0
Ref.                     0
dtype: int64

In [6]:
def limpiar_caracteres(texto):
    limpio = re.sub(r"[^a-zA-Z0-9\s]", "", str(texto))
    return limpio

In [12]:
Conciertos_a_nivel_mundial = Conciertos_a_nivel_mundial.apply(limpiar_caracteres)

In [ ]:
Conciertos_a_nivel_mundial.to_csv("Conciertos_a_nivel_mundial.csv", index=False)
print("Archivo  generado con éxito.")

Archivo  generado con éxito.

In [15]:
# Guardar el DataFrame en una base de datos MySQL
conn = ConexionMySQL() # Instanciar la clase ConexionMySQL para obtener la conexión a BD
try:
    conectado = conn.Conexion(
        host="b7bg9l2v5kzw6mr8copl-mysql.services.clever-cloud.com", 
        user="ussbzqxxrbaktocd", 
        password="4jUZNEC8FPFOJasnBN7L", 
        db="b7bg9l2v5kzw6mr8copl"
    ) # Conectar a la base de datos
    if conectado:
        print("Conexión exitosa")
        creacion = conn.Crear_tabla(dataframe=Conciertos_a_nivel_mundial, nombre_tabla="Conciertos_a_nivel_mundial") # Crear la tabla en la base de datos
        if creacion==0:
            print("Tabla creada en la base de datos MySQL")
            insercion = conn.Insertar_desde_dataframe(nombre_tabla="Conciertos_a_nivel_mundial", dataframe=Conciertos_a_nivel_mundial) # Insertar los registros en la tabla
            if insercion>0:
                print("Datos insertados en la tabla", "Filas afectadas:", insercion)
            else:
                print("No se insertaron los registros")
        else:
            print("No se creo la tabla")
    else:
        print("Error en la conexión")
except Exception as e:
    print("Error al insertar los registros:", e.with_traceback())
finally:
    conn.Cerrar_conexion() # Cerrar la conexión a la base de datos

Error en la conexión