In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\usuario\downloads\erick sebastian - epn\analisis de datos\ejercicios\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [8]:
# Cargar los datos del archivo CSV
registro = pd.read_csv("inabio_inaturalist_bdd_2024enero.csv", encoding='latin-1')
registro

,Fecha Inicio,AÂ¥O,Fecha Fin,Observaciones,Especies,Identificadores,Observadores
0,01/01/2019,2023,31/12/2023,1.155.656,28.130,12.865,23.804
1,01/01/2019,2023,30/11/2023,1.139.475,27.909,12.762,23.577
2,01/01/2019,2023,31/10/2023,1.106.016,27.535,12.573,22.966
3,01/01/2019,2023,30/09/2023,1.088.803,27.332,12.468,22.675
4,01/01/2019,2023,31/08/2023,1.076.104,27.144,12.390,22.492
5,01/01/2019,2023,30/07/2023,1.055.841,26.865,12.274,22.038
6,01/01/2019,2023,30/06/2023,1.031.771,26.502,12.118,21.731
7,01/01/2019,2023,31/05/2023,1.008.128,26.250,11.964,20.927
8,01/01/2019,2023,30/04/2023,977.241,25.936,11.774,20.307
9,01/01/2019,2023,31/03/2023,939.184,25.564,11.571,19.874
10,01/01/2019,2023,28/02/2023,916.232,25.313,11.374,19.442
11,01/01/2019,2023,31/01/2023,887.621,24.805,11.139,19.166
12,01/01/2019,2022,31/12/2022,863.181,24.428,10.954,18.738
13,01/01/2019,2022,30/11/2022,846.521,24.197,10.802,18.248
14,01/01/2019,2022,31/10/2022,809.698,23.778,10.576,17.553
15,01/01/2019,2022,30/09/2022,783.722,23.268,10.396,17.178
16,01/01/2019,2022,31/08/2022,771.589,23.137,10.316,16.892
17,01/01/2019,2022,31/07/2022,751.686,22.900,10.126,16.579
18,01/01/2019,2022,30/06/2022,732.415,22.570,9.948,16.264
19,01/01/2019,2022,31/05/2022,713.943,22.314,9.821,15.961
20,01/01/2019,2022,30/04/2022,687.485,22.027,9.631,15.316
21,01/01/2019,2022,31/03/2022,662.426,21.773,9.459,14.921
22,01/01/2019,2022,28/02/2022,642.008,21.518,9.278,14.608
23,01/01/2019,2022,31/01/2022,625.417,21.295,9.143,14.312
24,01/01/2019,2021,31/12/2021,605.846,20.979,9.011,14.044
25,01/01/2019,2021,30/11/2021,591.148,20.735,8.892,13.783
26,01/01/2019,2021,31/10/2021,570.496,20.375,8.750,13.418
27,01/01/2019,2021,30/09/2021,535.682,19.963,8.562,13.033
28,01/01/2019,2021,31/08/2021,487.828,19.175,8.297,12.476
29,01/01/2019,2021,31/07/2021,466.364,18.799,8.138,12.186
30,01/01/2019,2021,30/06/2022,447.293,18.340,7.968,11.842
31,01/01/2019,2021,31/05/2021,424.297,18.044,7.776,11.287
32,01/01/2019,2021,30/04/2021,403.321,17.793,7.626,10.741
33,01/01/2019,2021,31/03/2021,386.353,17.557,7.493,10.463
34,01/01/2019,2021,28/02/2021,368.72,17.298,7.342,10.119
35,01/01/2019,2021,31/01/2021,354.284,17.041,7.189,9.693
36,01/01/2019,2020,31/12/2020,340.01,16.776,7.058,9.401
37,01/01/2019,2020,30/11/2020,324.69,16.529,6.907,9.048
38,01/01/2019,2020,31/10/2020,287.718,15.764,6.579,8.310
39,01/01/2019,2020,30/09/2020,277.602,15.495,6.470,7.958
40,01/01/2019,2020,31/08/2020,260.82,15.124,6.292,7.555
41,01/01/2019,2020,31/07/2020,248.735,14.758,6.119,7.320
42,01/01/2019,2020,30/06/2020,239.449,14.430,6.009,7.102
43,01/01/2019,2020,31/05/2020,230.477,14.089,5.903,6.875
44,01/01/2019,2020,30/04/2020,219.75,13.744,5.751,6.398
45,01/01/2019,2020,31/03/2020,212.015,13.527,5.631,6.100
46,01/01/2019,2020,29/02/2020,205.182,13.312,5.525,5.902
47,01/01/2019,2020,31/01/2020,193.116,12.766,5.352,5.686
48,01/01/2019,2019,31/12/2019,181.405,12.385,5.164,5.341
49,01/01/2019,2019,30/11/2019,167.068,11.867,4.950,5.082
50,01/01/2019,2019,31/10/2019,151.443,11.188,4.720,4.624
51,01/01/2019,2019,30/09/2019,143.577,10.747,4.570,4.390
52,01/01/2019,2019,31/08/2019,137.536,10.455,4.447,4.166
53,01/01/2019,2019,31/07/2019,116.606,9.676,4.112,3.579
54,01/01/2019,2019,30/06/2019,108.173,9.243,3.872,3.312
55,01/01/2019,2019,31/05/2019,98.046,8.801,3.628,3.007
56,01/01/2019,2019,30/04/2019,86.008,8.293,3.412,2.695
57,01/01/2019,2019,31/03/2019,38.931,6.712,2.721,1.163
58,01/01/2019,2019,28/02/2019,25.272,5.484,2.235,857.000
59,01/01/2019,2019,31/01/2019,12.476,3.590,1.691,542.000

In [9]:
#RevisiÃ³n de nulos
registro.isnull().sum()

Fecha Inicio       0
AÂ¥O                0
Fecha Fin          0
Observaciones      0
Especies           0
Identificadores    0
Observadores       0
dtype: int64

In [10]:
registro.to_csv('ciencia_naturalist_ene2024.csv')